.ariaCheckboxGroup:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  row-gap: var(--token-2AWAyCzAJgz2);
  min-width: 0;
}
.ariaCheckboxGroup[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
.ariaCheckboxGroup[data-readonly]:global(.__wab_instance) {
  pointer-events: none;
  cursor: default;
}
.label:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.freeBox__ftUZ {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--token-2AWAyCzAJgz2);
}
.checkbox__g9QW:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.checkbox__fcYn5:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.checkbox__xGwa:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
