.ariaDialogTrigger:global(.__wab_instance) {
  position: relative;
}
.button__bdEBc:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__tj3I2 {
  position: relative;
  height: 1em;
}
.text__z1DMq {
  padding-right: 0px;
}
.svg__fzCsp {
  position: relative;
  height: 1em;
}
.ariaModal:global(.__wab_instance) {
  border-top-right-radius: var(--token-5uQp3tcfbfks);
  border-top-left-radius: var(--token-5uQp3tcfbfks);
  outline-style: none;
  background: var(--token-XBl7AWV1ll7W);
  display: block;
  color: var(--token-_GtgnUciMM8k);
  font-family: var(--token-zsmpMYNZNnC7);
  font-size: var(--token-U4nFfusRLOhb);
  line-height: var(--token-UsHB0eJMltu6);
  position: relative;
  box-shadow: 0px 24px 48px -12px #00000040;
}
.pcls_WTimuvXJX6zK {
  background: var(--token-VCEnKbP-NKmv);
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  outline: none;
}
.ariaDialog:global(.__wab_instance) {
  object-fit: cover;
  overflow: hidden;
  outline-style: none;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  max-height: 90vh;
}
.freeBox__qOOgL {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  min-width: 0;
  min-height: 0;
}
.h2__l8V1G {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: bold;
  font-size: var(--token-_0tYLg0QEiYA);
  min-width: 0;
  padding: var(--token-XRXF09ILhdnf);
  margin: 0rem;
}
.scrollableContent {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
  padding: 0px var(--token-XRXF09ILhdnf);
}
.freeBox__reElR {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  row-gap: var(--token-76Jbmk10Uni-);
}
.text__whbRj {
  position: relative;
}
.freeBox__lprWz {
  display: flex;
  position: relative;
  flex-shrink: 0;
  padding: var(--token-XRXF09ILhdnf);
}
.freeBox__ore9 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.svg__sfv57 {
  position: relative;
  height: 1em;
}
.svg__faYMo {
  position: relative;
  height: 1em;
}
