.ariaComboBox:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-2AWAyCzAJgz2);
  min-width: 0;
}
.ariaComboBox[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.ariaInput:global(.__wab_instance) {
  box-shadow: inset 0px 0px 0px 1px var(--token-CXuBwdXYm1JQ);
  width: 100%;
  font-size: var(--token-U4nFfusRLOhb);
  line-height: var(--token-UsHB0eJMltu6);
  outline-style: none;
  min-width: 0;
  border-radius: var(--token-JrjfL3F9q-zr);
  padding: var(--token-JrjfL3F9q-zr) var(--token-mS9ufzXTrnEk)
    var(--token-JrjfL3F9q-zr) var(--token-Jm6eq0q5aKWG);
  border-style: none;
}
.ariaButton:global(.__wab_instance) {
  box-sizing: border-box;
  cursor: pointer;
  object-fit: cover;
  background: none;
  position: absolute;
  right: 0;
  width: var(--token-mS9ufzXTrnEk);
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--token-mS9ufzXTrnEk);
  flex-shrink: 0;
  border-radius: var(--token-JrjfL3F9q-zr);
  border: 1px none black;
}
.svg {
  width: var(--token-5uQp3tcfbfks);
  height: var(--token-5uQp3tcfbfks);
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__gcqy5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
