.ariaCheckbox:global(.__wab_instance) {
  object-fit: cover;
  cursor: pointer;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  color: var(--token-_GtgnUciMM8k);
  font-family: var(--token-zsmpMYNZNnC7);
  font-size: var(--token-U4nFfusRLOhb);
  line-height: var(--token-UsHB0eJMltu6);
  width: 100%;
  column-gap: var(--token-VwsfoiemBq-F);
  min-width: 0;
}
.ariaCheckbox[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.ariaCheckbox[data-readonly]:global(.__wab_instance) {
  cursor: default;
  pointer-events: none;
}
.freeBox {
  position: relative;
  width: var(--token-63PS-oN8GHPF);
  height: var(--token-63PS-oN8GHPF);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--token-XpvizP-yv1mR);
  border: 2px solid var(--token-0Gkt6rUA5Nvh);
}
.ariaCheckbox[data-focus-visible] .freeBox {
  outline-style: solid;
  outline-color: var(--token-tpHxfn3r_bWe);
  outline-offset: 1px;
  outline-width: 2px;
}
.ariaCheckbox[data-indeterminate] .freeBox {
  background: var(--token-tpHxfn3r_bWe);
  border-color: var(--token-tpHxfn3r_bWe);
}
.ariaCheckbox[data-selected] .freeBox {
  background: var(--token-tpHxfn3r_bWe);
  border-color: var(--token-tpHxfn3r_bWe);
}
.svg__r2O9G {
  position: relative;
  color: #ffffff;
  height: 1em;
  flex-shrink: 0;
}
.ariaCheckbox[data-selected] .svg__r2O9G {
  display: block;
}
.svg__h0OaV {
  position: relative;
  color: #ffffff;
  height: 1em;
  flex-shrink: 0;
}
.ariaCheckbox[data-indeterminate] .svg__h0OaV {
  display: block;
}
