@import url("https://fonts.googleapis.com/css2?family=Roboto%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C700%3B0%2C900%3B1%2C400%3B1%2C500%3B1%2C700%3B1%2C900&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-_Akv3uDy2vnO: rgba(175, 47, 47, 0.15);
  --plasmic-token-header: var(--token-_Akv3uDy2vnO);
  --token-NE7fe0B1l0oG: rgb(245, 245, 245);
  --plasmic-token-page-bg: var(--token-NE7fe0B1l0oG);
  --token-AHx5uEnZbs0W: #ffffff;
  --plasmic-token-app-bg: var(--token-AHx5uEnZbs0W);
  --token-plUTwBP7tmlm: rgb(230, 230, 230);
  --plasmic-token-unselected-chevron: var(--token-plUTwBP7tmlm);
  --token-yFxA7IvN6-rN: rgb(230, 230, 230);
  --plasmic-token-input-placeholder: var(--token-yFxA7IvN6-rN);
  --token-fXMtxvyCR5Cd: rgb(119, 119, 119);
  --plasmic-token-footer-text: var(--token-fXMtxvyCR5Cd);
  --token-767i_oo8jzSd: rgb(34, 34, 34);
  --plasmic-token-app-bg-dark: var(--token-767i_oo8jzSd);
  --token-_l_Vcm0MwJ7U: rgb(0, 0, 0);
  --plasmic-token-page-bg-dark: var(--token-_l_Vcm0MwJ7U);
  --token-IlFVFC-svLiV: rgb(113, 101, 101);
  --plasmic-token-header-dark: var(--token-IlFVFC-svLiV);
  --token-9Mj6VSKh8SyZ: rgb(230, 230, 230);
  --plasmic-token-border-gray-light: var(--token-9Mj6VSKh8SyZ);
  --token-4H6R2J-uicPH: rgb(48, 48, 48);
  --plasmic-token-border-gray-light-dark: var(--token-4H6R2J-uicPH);
  --token-RxNlid2WjaZp: rgb(83, 83, 83);
  --plasmic-token-task-text: var(--token-RxNlid2WjaZp);
  --token-BqerCC2mLlta: rgb(234, 234, 234);
  --plasmic-token-task-text-dark: var(--token-BqerCC2mLlta);
  --token-dxg_BrUXji3-: rgb(230, 230, 230);
  --plasmic-token-task-text-dim: var(--token-dxg_BrUXji3-);
  --token-9U1C9Y3sx8qf: rgb(79, 79, 79);
  --plasmic-token-task-text-dim-dark: var(--token-9U1C9Y3sx8qf);
  --token-v9PYavJHf-xf: rgb(230, 230, 230);
  --plasmic-token-placeholder: var(--token-v9PYavJHf-xf);
  --token-NDrFYOP4k3n5: rgb(79, 79, 79);
  --plasmic-token-placeholder-dark: var(--token-NDrFYOP4k3n5);
  --token-mS9ufzXTrnEk: var(--token-OJSN3W0Myvht);
  --plasmic-token-size-32: var(--token-mS9ufzXTrnEk);
  --token-5uQp3tcfbfks: var(--token-0tl2H1TRPHhV);
  --plasmic-token-size-16: var(--token-5uQp3tcfbfks);
  --token-VwsfoiemBq-F: var(--token-cfon0PHiXQoL);
  --plasmic-token-size-8: var(--token-VwsfoiemBq-F);
  --token-Ej445XEm8M3O: var(--token-MGudh00NLP3q);
  --plasmic-token-muted-muted-soft-foreground: var(--token-Ej445XEm8M3O);
  --token-2AWAyCzAJgz2: var(--token-RuQNZpYm0Yds);
  --plasmic-token-size-4: var(--token-2AWAyCzAJgz2);
  --token-76Jbmk10Uni-: var(--token-PKf5XaFatup3);
  --plasmic-token-size-12: var(--token-76Jbmk10Uni-);
  --token-XRXF09ILhdnf: var(--token-ekJK2BNXfyOR);
  --plasmic-token-size-24: var(--token-XRXF09ILhdnf);
  --token-_0tYLg0QEiYA: 1.25rem;
  --plasmic-token-font-lg: var(--token-_0tYLg0QEiYA);
  --token-XBl7AWV1ll7W: #ffffff;
  --plasmic-token-basic-container-background: var(--token-XBl7AWV1ll7W);
  --token-tpHxfn3r_bWe: var(--token-3kYlE5VFDAO5);
  --plasmic-token-brand-brand: var(--token-tpHxfn3r_bWe);
  --token-zsmpMYNZNnC7: Inter;
  --plasmic-token-sans-serif: var(--token-zsmpMYNZNnC7);
  --token-U4nFfusRLOhb: 1rem;
  --plasmic-token-font-md: var(--token-U4nFfusRLOhb);
  --token-UsHB0eJMltu6: 1.25;
  --plasmic-token-line-height-md: var(--token-UsHB0eJMltu6);
  --token-JrjfL3F9q-zr: var(--token-c8-rjzKYORFj);
  --plasmic-token-size-6: var(--token-JrjfL3F9q-zr);
  --token-mDOQx6cY20Vn: var(--token-Cn459MKRbWu9);
  --plasmic-token-neutral-neutral: var(--token-mDOQx6cY20Vn);
  --token-4KNGfA9MkHjc: var(--token-u2RgMe-uQAju);
  --plasmic-token-destructive-destructive: var(--token-4KNGfA9MkHjc);
  --token-0O-pd7JoquBE: var(--token-MGudh00NLP3q);
  --plasmic-token-muted-muted: var(--token-0O-pd7JoquBE);
  --token-kmX4n5MP_duR: 0.75rem;
  --plasmic-token-font-sm: var(--token-kmX4n5MP_duR);
  --token-w2qM4_jPJwVp: 1;
  --plasmic-token-line-height-sm: var(--token-w2qM4_jPJwVp);
  --token-5eC2tURmiQf4: 1.4;
  --plasmic-token-line-height-lg: var(--token-5eC2tURmiQf4);
  --token-XpvizP-yv1mR: var(--token-IUVIp1DHBSFd);
  --plasmic-token-size-2: var(--token-XpvizP-yv1mR);
  --token-yW_L4OztE-qL: var(--token-8odYYBvkaHVX);
  --plasmic-token-success-success: var(--token-yW_L4OztE-qL);
  --token-g-RyuY_TlPIH: var(--token-L6pBmIkiSkx4);
  --plasmic-token-warning-warning: var(--token-g-RyuY_TlPIH);
  --token-_VYmJuDe0I5K: var(--token-w7EPkOMSh2Xb);
  --plasmic-token-brand-brand-soft: var(--token-_VYmJuDe0I5K);
  --token-HjWJhDJyfFLP: var(--token-YTNNB1KtOvN9);
  --plasmic-token-neutral-neutral-soft: var(--token-HjWJhDJyfFLP);
  --token-suOCBrdv91B0: var(--token-NyTb7hfbZNyN);
  --plasmic-token-muted-muted-soft: var(--token-suOCBrdv91B0);
  --token-3lMcHLj2kT7b: var(--token-Xs2o77o8RCB-);
  --plasmic-token-success-success-soft: var(--token-3lMcHLj2kT7b);
  --token-nOUjW_KuteLW: var(--token-BUYkn0c_BT-J);
  --plasmic-token-warning-warning-soft: var(--token-nOUjW_KuteLW);
  --token-ys_QWk-TKbv0: var(--token-I0_BUYzH206C);
  --plasmic-token-destructive-destructive-soft: var(--token-ys_QWk-TKbv0);
  --token-7PwHNmGbFwIV: var(--token-qsHKKmoi9Z2N);
  --plasmic-token-brand-brand-border: var(--token-7PwHNmGbFwIV);
  --token-NVrdTlpJBk4G: var(--token-GQQSYIXwL9h_);
  --plasmic-token-neutral-neutral-border: var(--token-NVrdTlpJBk4G);
  --token-LHzGuxkuBWnW: var(--token-YTNNB1KtOvN9);
  --plasmic-token-muted-muted-border: var(--token-LHzGuxkuBWnW);
  --token-LgH6AJeJ7kul: var(--token-Y7e5ggCd09M6);
  --plasmic-token-success-success-border: var(--token-LgH6AJeJ7kul);
  --token-kYDXjRHhB8TD: var(--token-N2GVB8b4MTkJ);
  --plasmic-token-warning-warning-border: var(--token-kYDXjRHhB8TD);
  --token-zzEfY2XNbgOQ: var(--token-8XWkpFEFETNw);
  --plasmic-token-destructive-destructive-border: var(--token-zzEfY2XNbgOQ);
  --token-C1CocrzGnw9o: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-C1CocrzGnw9o);
  --token-EdG3dBeMGzRC: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-EdG3dBeMGzRC);
  --token-yshx6JJltCM_: #00000033;
  --plasmic-token-interaction-pressed: var(--token-yshx6JJltCM_);
  --token-Jm6eq0q5aKWG: var(--token-vINZR3MlEOSB);
  --plasmic-token-size-10: var(--token-Jm6eq0q5aKWG);
  --token-7u6_fcuVsXfJ: var(--token-M0LHGDR880st);
  --plasmic-token-brand-brand-foreground: var(--token-7u6_fcuVsXfJ);
  --token-ZkITuUpz4SRu: var(--token-w0BmYAdVh1BD);
  --plasmic-token-neutral-neutral-foreground: var(--token-ZkITuUpz4SRu);
  --token-QJQ-OULvf8ea: var(--token-YTNNB1KtOvN9);
  --plasmic-token-muted-muted-foreground: var(--token-QJQ-OULvf8ea);
  --token-dAjG3yZOH96G: var(--token-wXhZBDyFIH77);
  --plasmic-token-brand-brand-soft-foreground: var(--token-dAjG3yZOH96G);
  --token-AuVMMHeM2KC3: var(--token-IM1QVYeIZBIA);
  --plasmic-token-warning-warning-foreground: var(--token-AuVMMHeM2KC3);
  --token-wOJ-2n1Sqxz-: var(--token-d5rxOApLiBXu);
  --plasmic-token-success-success-foreground: var(--token-wOJ-2n1Sqxz-);
  --token-nf45OX3Ph4P6: var(--token-wO2qMySVKYXU);
  --plasmic-token-destructive-destructive-foreground: var(--token-nf45OX3Ph4P6);
  --token-NX9m1F0y3VQ7: var(--token-ZnueTOHp2Zir);
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-NX9m1F0y3VQ7);
  --token-jpROxuRJCKiW: var(--token-MD2kb85IOAun);
  --plasmic-token-success-success-soft-foreground: var(--token-jpROxuRJCKiW);
  --token-LVggRn9mN5N4: var(--token-Work-inyFZuD);
  --plasmic-token-warning-warning-soft-foreground: var(--token-LVggRn9mN5N4);
  --token-x8OTjlzowzc-: var(--token-c1-8q9kxmrq_);
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-x8OTjlzowzc-
  );
  --token-_GtgnUciMM8k: var(--token-4Cdw41zGDm2p);
  --plasmic-token-basic-text-primary: var(--token-_GtgnUciMM8k);
  --token-Zhpdwy3-8WWw: var(--token-MGudh00NLP3q);
  --plasmic-token-basic-text-secondary: var(--token-Zhpdwy3-8WWw);
  --token-63PS-oN8GHPF: var(--token-TONjX_YbO9_T);
  --plasmic-token-size-20: var(--token-63PS-oN8GHPF);
  --token-0Gkt6rUA5Nvh: var(--token-RN6-6smk2YHi);
  --plasmic-token-basic-ring: var(--token-0Gkt6rUA5Nvh);
  --token-CXuBwdXYm1JQ: var(--token-GQQSYIXwL9h_);
  --plasmic-token-basic-border: var(--token-CXuBwdXYm1JQ);
  --token-Vt62-grID8J4: var(--token-YTNNB1KtOvN9);
  --plasmic-token-muted-muted-soft-hover: var(--token-Vt62-grID8J4);
  --token-vzcTwAwYgcQ8: var(--token-YTNNB1KtOvN9);
  --plasmic-token-basic-input-background: var(--token-vzcTwAwYgcQ8);
  --token-VCEnKbP-NKmv: #0a0a0a80;
  --plasmic-token-basic-overlay-background: var(--token-VCEnKbP-NKmv);
  --token-D_53xRZRg5-V: var(--token-c-y4Lbl8pLuG);
  --plasmic-token-basic-container-background-dark: var(--token-D_53xRZRg5-V);
  --token-oQZCsizz2R1v: var(--token-RxNG2ESRnAU0);
  --plasmic-token-unnamed-style-token: var(--token-oQZCsizz2R1v);
  --token-RxNG2ESRnAU0: 14.5rem;
  --plasmic-token-unnamed-style-token-2: var(--token-RxNG2ESRnAU0);
  --token-Tp1Wykj3zMVH: 14.65rem;
  --plasmic-token-58: var(--token-Tp1Wykj3zMVH);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles,
.plasmic_default_styles:where(.global_theme_dark),
.plasmic_default_styles:where(
  .global_unnamedGlobalGroupOfVariants_unnamedVariant
) {
  --mixin-FLU7pERirfwX_font-family: "Roboto", sans-serif;
  --mixin-FLU7pERirfwX_font-size: 14px;
  --mixin-FLU7pERirfwX_font-weight: normal;
  --mixin-FLU7pERirfwX_font-style: normal;
  --mixin-FLU7pERirfwX_color: #535353;
  --mixin-FLU7pERirfwX_text-align: left;
  --mixin-FLU7pERirfwX_text-transform: none;
  --mixin-FLU7pERirfwX_line-height: 1.5;
  --mixin-FLU7pERirfwX_letter-spacing: normal;
  --mixin-FLU7pERirfwX_white-space: pre-wrap;
  --mixin-uLJLghaVncK3_font-family: "Inter", sans-serif;
  --mixin-uLJLghaVncK3_color: #000000;
  --mixin-uLJLghaVncK3_font-size: 72px;
  --mixin-uLJLghaVncK3_font-weight: 900;
  --mixin-uLJLghaVncK3_letter-spacing: -4px;
  --mixin-uLJLghaVncK3_line-height: 1;
  --mixin-uLJLghaVncK3_white-space: pre-wrap;
  --mixin-zqYZLUNqtIg3_font-family: "Inter", sans-serif;
  --mixin-zqYZLUNqtIg3_color: #000000;
  --mixin-zqYZLUNqtIg3_font-size: 48px;
  --mixin-zqYZLUNqtIg3_font-weight: 700;
  --mixin-zqYZLUNqtIg3_letter-spacing: -1px;
  --mixin-zqYZLUNqtIg3_line-height: 1.1;
  --mixin-zqYZLUNqtIg3_white-space: pre-wrap;
  --mixin-9hutFvrowEsH_font-family: "Inter", sans-serif;
  --mixin-9hutFvrowEsH_color: #000000;
  --mixin-9hutFvrowEsH_font-size: 32px;
  --mixin-9hutFvrowEsH_font-weight: 600;
  --mixin-9hutFvrowEsH_letter-spacing: -0.8px;
  --mixin-9hutFvrowEsH_line-height: 1.2;
  --mixin-9hutFvrowEsH_white-space: pre-wrap;
  --mixin-pWa4dz9EWXtt_font-family: "Inter", sans-serif;
  --mixin-pWa4dz9EWXtt_color: #000000;
  --mixin-pWa4dz9EWXtt_font-size: 24px;
  --mixin-pWa4dz9EWXtt_font-weight: 600;
  --mixin-pWa4dz9EWXtt_letter-spacing: -0.5px;
  --mixin-pWa4dz9EWXtt_line-height: 1.3;
  --mixin-pWa4dz9EWXtt_white-space: pre-wrap;
  --mixin-TwmDrdg7uGZ3_font-family: "Inter", sans-serif;
  --mixin-TwmDrdg7uGZ3_color: #000000;
  --mixin-TwmDrdg7uGZ3_font-size: 20px;
  --mixin-TwmDrdg7uGZ3_font-weight: 600;
  --mixin-TwmDrdg7uGZ3_letter-spacing: -0.3px;
  --mixin-TwmDrdg7uGZ3_line-height: 1.5;
  --mixin-TwmDrdg7uGZ3_white-space: pre-wrap;
  --mixin-ddzYC6-fnbj4_font-family: "Inter", sans-serif;
  --mixin-ddzYC6-fnbj4_color: #000000;
  --mixin-ddzYC6-fnbj4_font-size: 16px;
  --mixin-ddzYC6-fnbj4_font-weight: 600;
  --mixin-ddzYC6-fnbj4_line-height: 1.5;
  --mixin-ddzYC6-fnbj4_white-space: pre-wrap;
  --mixin-TqsEe879irF1_color: #0070f3;
  --mixin-TqsEe879irF1_white-space: pre-wrap;
  --mixin-o2CIcHvmMdoL_color: #3291ff;
  --mixin-o2CIcHvmMdoL_white-space: pre-wrap;
  --mixin-q4cy344nn93e_border-left-color: #dddddd;
  --mixin-q4cy344nn93e_border-left-style: solid;
  --mixin-q4cy344nn93e_border-left-width: 3px;
  --mixin-q4cy344nn93e_color: #888888;
  --mixin-q4cy344nn93e_padding-left: 10px;
  --mixin-q4cy344nn93e_white-space: pre-wrap;
  --mixin-CkXdeUGx8BuO_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-CkXdeUGx8BuO_border-bottom-color: #dddddd;
  --mixin-CkXdeUGx8BuO_border-bottom-style: solid;
  --mixin-CkXdeUGx8BuO_border-bottom-width: 1px;
  --mixin-CkXdeUGx8BuO_border-left-color: #dddddd;
  --mixin-CkXdeUGx8BuO_border-left-style: solid;
  --mixin-CkXdeUGx8BuO_border-left-width: 1px;
  --mixin-CkXdeUGx8BuO_border-right-color: #dddddd;
  --mixin-CkXdeUGx8BuO_border-right-style: solid;
  --mixin-CkXdeUGx8BuO_border-right-width: 1px;
  --mixin-CkXdeUGx8BuO_border-top-color: #dddddd;
  --mixin-CkXdeUGx8BuO_border-top-style: solid;
  --mixin-CkXdeUGx8BuO_border-top-width: 1px;
  --mixin-CkXdeUGx8BuO_border-bottom-left-radius: 3px;
  --mixin-CkXdeUGx8BuO_border-bottom-right-radius: 3px;
  --mixin-CkXdeUGx8BuO_border-top-left-radius: 3px;
  --mixin-CkXdeUGx8BuO_border-top-right-radius: 3px;
  --mixin-CkXdeUGx8BuO_font-family: "Inconsolata";
  --mixin-CkXdeUGx8BuO_padding-bottom: 1px;
  --mixin-CkXdeUGx8BuO_padding-left: 4px;
  --mixin-CkXdeUGx8BuO_padding-right: 4px;
  --mixin-CkXdeUGx8BuO_padding-top: 1px;
  --mixin-CkXdeUGx8BuO_white-space: pre-wrap;
  --mixin-RStPRf9qW2W0_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-RStPRf9qW2W0_border-bottom-color: #dddddd;
  --mixin-RStPRf9qW2W0_border-bottom-style: solid;
  --mixin-RStPRf9qW2W0_border-bottom-width: 1px;
  --mixin-RStPRf9qW2W0_border-left-color: #dddddd;
  --mixin-RStPRf9qW2W0_border-left-style: solid;
  --mixin-RStPRf9qW2W0_border-left-width: 1px;
  --mixin-RStPRf9qW2W0_border-right-color: #dddddd;
  --mixin-RStPRf9qW2W0_border-right-style: solid;
  --mixin-RStPRf9qW2W0_border-right-width: 1px;
  --mixin-RStPRf9qW2W0_border-top-color: #dddddd;
  --mixin-RStPRf9qW2W0_border-top-style: solid;
  --mixin-RStPRf9qW2W0_border-top-width: 1px;
  --mixin-RStPRf9qW2W0_border-bottom-left-radius: 3px;
  --mixin-RStPRf9qW2W0_border-bottom-right-radius: 3px;
  --mixin-RStPRf9qW2W0_border-top-left-radius: 3px;
  --mixin-RStPRf9qW2W0_border-top-right-radius: 3px;
  --mixin-RStPRf9qW2W0_font-family: "Inconsolata";
  --mixin-RStPRf9qW2W0_padding-bottom: 3px;
  --mixin-RStPRf9qW2W0_padding-left: 6px;
  --mixin-RStPRf9qW2W0_padding-right: 6px;
  --mixin-RStPRf9qW2W0_padding-top: 3px;
  --mixin-RStPRf9qW2W0_white-space: pre-wrap;
  --mixin-Uh2J1OyWALqN_display: flex;
  --mixin-Uh2J1OyWALqN_flex-direction: column;
  --mixin-Uh2J1OyWALqN_align-items: stretch;
  --mixin-Uh2J1OyWALqN_justify-content: flex-start;
  --mixin-Uh2J1OyWALqN_list-style-position: outside;
  --mixin-Uh2J1OyWALqN_padding-left: 40px;
  --mixin-Uh2J1OyWALqN_position: relative;
  --mixin-Uh2J1OyWALqN_list-style-type: decimal;
  --mixin-Uh2J1OyWALqN_white-space: pre-wrap;
  --mixin-Oz557t0a5ceN_display: flex;
  --mixin-Oz557t0a5ceN_flex-direction: column;
  --mixin-Oz557t0a5ceN_align-items: stretch;
  --mixin-Oz557t0a5ceN_justify-content: flex-start;
  --mixin-Oz557t0a5ceN_list-style-position: outside;
  --mixin-Oz557t0a5ceN_padding-left: 40px;
  --mixin-Oz557t0a5ceN_position: relative;
  --mixin-Oz557t0a5ceN_list-style-type: disc;
  --mixin-Oz557t0a5ceN_white-space: pre-wrap;
}

.plasmic_mixins,
.plasmic_mixins:where(.global_theme_dark),
.plasmic_mixins:where(.global_unnamedGlobalGroupOfVariants_unnamedVariant) {
  --mixin-8BHMmfzAWd8d_box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  --plasmic-mixin-card-shadow_box-shadow: var(--mixin-8BHMmfzAWd8d_box-shadow);
  --mixin-8BHMmfzAWd8d_white-space: pre-wrap;
  --plasmic-mixin-card-shadow_white-space: var(
    --mixin-8BHMmfzAWd8d_white-space
  );
  --mixin-hh62Q4_ukh-A_box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.1);
  --plasmic-mixin-app-shadow_box-shadow: var(--mixin-hh62Q4_ukh-A_box-shadow);
  --mixin-hh62Q4_ukh-A_white-space: pre-wrap;
  --plasmic-mixin-app-shadow_white-space: var(--mixin-hh62Q4_ukh-A_white-space);
  --mixin-9Lx-okD84c9p_box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.5);
  --plasmic-mixin-card-shadow-dark_box-shadow: var(
    --mixin-9Lx-okD84c9p_box-shadow
  );
  --mixin-9Lx-okD84c9p_white-space: pre-wrap;
  --plasmic-mixin-card-shadow-dark_white-space: var(
    --mixin-9Lx-okD84c9p_white-space
  );
  --mixin-RH_X1j-iZm6Y_box-shadow: 0px 25px 50px 0px rgba(255, 255, 255, 0.3);
  --plasmic-mixin-app-shadow-dark_box-shadow: var(
    --mixin-RH_X1j-iZm6Y_box-shadow
  );
  --mixin-RH_X1j-iZm6Y_white-space: pre-wrap;
  --plasmic-mixin-app-shadow-dark_white-space: var(
    --mixin-RH_X1j-iZm6Y_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-FLU7pERirfwX_font-family);
  font-size: var(--mixin-FLU7pERirfwX_font-size);
  font-weight: var(--mixin-FLU7pERirfwX_font-weight);
  font-style: var(--mixin-FLU7pERirfwX_font-style);
  color: var(--mixin-FLU7pERirfwX_color);
  text-align: var(--mixin-FLU7pERirfwX_text-align);
  text-transform: var(--mixin-FLU7pERirfwX_text-transform);
  line-height: var(--mixin-FLU7pERirfwX_line-height);
  letter-spacing: var(--mixin-FLU7pERirfwX_letter-spacing);
  white-space: var(--mixin-FLU7pERirfwX_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-uLJLghaVncK3_font-family);
  color: var(--mixin-uLJLghaVncK3_color);
  font-size: var(--mixin-uLJLghaVncK3_font-size);
  font-weight: var(--mixin-uLJLghaVncK3_font-weight);
  letter-spacing: var(--mixin-uLJLghaVncK3_letter-spacing);
  line-height: var(--mixin-uLJLghaVncK3_line-height);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  font-family: var(--mixin-zqYZLUNqtIg3_font-family);
  color: var(--mixin-zqYZLUNqtIg3_color);
  font-size: var(--mixin-zqYZLUNqtIg3_font-size);
  font-weight: var(--mixin-zqYZLUNqtIg3_font-weight);
  letter-spacing: var(--mixin-zqYZLUNqtIg3_letter-spacing);
  line-height: var(--mixin-zqYZLUNqtIg3_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-9hutFvrowEsH_font-family);
  color: var(--mixin-9hutFvrowEsH_color);
  font-size: var(--mixin-9hutFvrowEsH_font-size);
  font-weight: var(--mixin-9hutFvrowEsH_font-weight);
  letter-spacing: var(--mixin-9hutFvrowEsH_letter-spacing);
  line-height: var(--mixin-9hutFvrowEsH_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-pWa4dz9EWXtt_font-family);
  color: var(--mixin-pWa4dz9EWXtt_color);
  font-size: var(--mixin-pWa4dz9EWXtt_font-size);
  font-weight: var(--mixin-pWa4dz9EWXtt_font-weight);
  letter-spacing: var(--mixin-pWa4dz9EWXtt_letter-spacing);
  line-height: var(--mixin-pWa4dz9EWXtt_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-TwmDrdg7uGZ3_font-family);
  color: var(--mixin-TwmDrdg7uGZ3_color);
  font-size: var(--mixin-TwmDrdg7uGZ3_font-size);
  font-weight: var(--mixin-TwmDrdg7uGZ3_font-weight);
  letter-spacing: var(--mixin-TwmDrdg7uGZ3_letter-spacing);
  line-height: var(--mixin-TwmDrdg7uGZ3_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-ddzYC6-fnbj4_font-family);
  color: var(--mixin-ddzYC6-fnbj4_color);
  font-size: var(--mixin-ddzYC6-fnbj4_font-size);
  font-weight: var(--mixin-ddzYC6-fnbj4_font-weight);
  line-height: var(--mixin-ddzYC6-fnbj4_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-TqsEe879irF1_color);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-o2CIcHvmMdoL_color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-q4cy344nn93e_color);
  padding-left: var(--mixin-q4cy344nn93e_padding-left);
  border-left: var(--mixin-q4cy344nn93e_border-left-width)
    var(--mixin-q4cy344nn93e_border-left-style)
    var(--mixin-q4cy344nn93e_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-CkXdeUGx8BuO_font-family);
  border-radius: var(--mixin-CkXdeUGx8BuO_border-top-left-radius)
    var(--mixin-CkXdeUGx8BuO_border-top-right-radius)
    var(--mixin-CkXdeUGx8BuO_border-bottom-right-radius)
    var(--mixin-CkXdeUGx8BuO_border-bottom-left-radius);
  padding: var(--mixin-CkXdeUGx8BuO_padding-top)
    var(--mixin-CkXdeUGx8BuO_padding-right)
    var(--mixin-CkXdeUGx8BuO_padding-bottom)
    var(--mixin-CkXdeUGx8BuO_padding-left);
  border-top: var(--mixin-CkXdeUGx8BuO_border-top-width)
    var(--mixin-CkXdeUGx8BuO_border-top-style)
    var(--mixin-CkXdeUGx8BuO_border-top-color);
  border-right: var(--mixin-CkXdeUGx8BuO_border-right-width)
    var(--mixin-CkXdeUGx8BuO_border-right-style)
    var(--mixin-CkXdeUGx8BuO_border-right-color);
  border-bottom: var(--mixin-CkXdeUGx8BuO_border-bottom-width)
    var(--mixin-CkXdeUGx8BuO_border-bottom-style)
    var(--mixin-CkXdeUGx8BuO_border-bottom-color);
  border-left: var(--mixin-CkXdeUGx8BuO_border-left-width)
    var(--mixin-CkXdeUGx8BuO_border-left-style)
    var(--mixin-CkXdeUGx8BuO_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-RStPRf9qW2W0_font-family);
  border-radius: var(--mixin-RStPRf9qW2W0_border-top-left-radius)
    var(--mixin-RStPRf9qW2W0_border-top-right-radius)
    var(--mixin-RStPRf9qW2W0_border-bottom-right-radius)
    var(--mixin-RStPRf9qW2W0_border-bottom-left-radius);
  padding: var(--mixin-RStPRf9qW2W0_padding-top)
    var(--mixin-RStPRf9qW2W0_padding-right)
    var(--mixin-RStPRf9qW2W0_padding-bottom)
    var(--mixin-RStPRf9qW2W0_padding-left);
  border-top: var(--mixin-RStPRf9qW2W0_border-top-width)
    var(--mixin-RStPRf9qW2W0_border-top-style)
    var(--mixin-RStPRf9qW2W0_border-top-color);
  border-right: var(--mixin-RStPRf9qW2W0_border-right-width)
    var(--mixin-RStPRf9qW2W0_border-right-style)
    var(--mixin-RStPRf9qW2W0_border-right-color);
  border-bottom: var(--mixin-RStPRf9qW2W0_border-bottom-width)
    var(--mixin-RStPRf9qW2W0_border-bottom-style)
    var(--mixin-RStPRf9qW2W0_border-bottom-color);
  border-left: var(--mixin-RStPRf9qW2W0_border-left-width)
    var(--mixin-RStPRf9qW2W0_border-left-style)
    var(--mixin-RStPRf9qW2W0_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-Uh2J1OyWALqN_display);
  flex-direction: var(--mixin-Uh2J1OyWALqN_flex-direction);
  align-items: var(--mixin-Uh2J1OyWALqN_align-items);
  justify-content: var(--mixin-Uh2J1OyWALqN_justify-content);
  list-style-position: var(--mixin-Uh2J1OyWALqN_list-style-position);
  padding-left: var(--mixin-Uh2J1OyWALqN_padding-left);
  position: var(--mixin-Uh2J1OyWALqN_position);
  list-style-type: var(--mixin-Uh2J1OyWALqN_list-style-type);
  column-gap: var(--mixin-Uh2J1OyWALqN_column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-Oz557t0a5ceN_display);
  flex-direction: var(--mixin-Oz557t0a5ceN_flex-direction);
  align-items: var(--mixin-Oz557t0a5ceN_align-items);
  justify-content: var(--mixin-Oz557t0a5ceN_justify-content);
  list-style-position: var(--mixin-Oz557t0a5ceN_list-style-position);
  padding-left: var(--mixin-Oz557t0a5ceN_padding-left);
  position: var(--mixin-Oz557t0a5ceN_position);
  list-style-type: var(--mixin-Oz557t0a5ceN_list-style-type);
  column-gap: var(--mixin-Oz557t0a5ceN_column-gap);
}
