.root:global(.__wab_instance) {
  width: 300px;
  box-sizing: border-box;
  object-fit: cover;
  background: var(--token-XBl7AWV1ll7W);
  position: relative;
  overflow: auto;
  box-shadow:
    0px 0px 12px 0px #00000040,
    0px 0px 0px 0.5px var(--token-LHzGuxkuBWnW);
  border-radius: var(--token-Jm6eq0q5aKWG);
  padding: var(--token-JrjfL3F9q-zr);
}
.ariaListBox:global(.__wab_instance) {
  box-sizing: border-box;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  outline-style: none;
  min-width: 0;
}
.menuSection__jOts2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
