.root:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.svg {
  color: var(--token-XBl7AWV1ll7W);
  width: 10px;
  height: 10px;
  transform: translate3d(0px, 3px, 0px);
}
.root[data-placement="top"] .svg {
  transform: translate3d(0px, -3px, 0px) rotate3d(0, 0, 1, 180deg);
}
.root[data-placement="left"] .svg {
  transform: translate3d(-3px, 0px, 0px) rotate3d(0, 0, 1, 90deg);
}
.root[data-placement="right"] .svg {
  transform: translate3d(3px, 0px, 0px) rotate3d(0, 0, 1, -90deg);
}
.svgdark {
  color: var(--token-D_53xRZRg5-V);
}
