.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-tpHxfn3r_bWe);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-VwsfoiemBq-F);
  font-family: var(--token-zsmpMYNZNnC7);
  font-size: var(--token-U4nFfusRLOhb);
  line-height: var(--token-UsHB0eJMltu6);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-JrjfL3F9q-zr);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-XpvizP-yv1mR);
  outline-offset: 1px;
  outline-color: var(--token-tpHxfn3r_bWe);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-mDOQx6cY20Vn);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-0O-pd7JoquBE);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-yW_L4OztE-qL);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-g-RyuY_TlPIH);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-4KNGfA9MkHjc);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-w2qM4_jPJwVp);
  font-size: var(--token-kmX4n5MP_duR);
  column-gap: var(--token-XpvizP-yv1mR);
  row-gap: 0px;
  border-radius: var(--token-2AWAyCzAJgz2);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-kmX4n5MP_duR);
  line-height: var(--token-w2qM4_jPJwVp);
  column-gap: var(--token-2AWAyCzAJgz2);
  row-gap: 0px;
  border-radius: var(--token-2AWAyCzAJgz2);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-_0tYLg0QEiYA);
  line-height: var(--token-5eC2tURmiQf4);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-_0tYLg0QEiYA);
  line-height: var(--token-5eC2tURmiQf4);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-_VYmJuDe0I5K);
  border-radius: var(--token-JrjfL3F9q-zr);
}
.softBackgroundcolor_neutral {
  background: var(--token-HjWJhDJyfFLP);
}
.softBackgroundcolor_muted {
  background: var(--token-suOCBrdv91B0);
}
.softBackgroundcolor_success {
  background: var(--token-3lMcHLj2kT7b);
}
.softBackgroundcolor_warning {
  background: var(--token-nOUjW_KuteLW);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-ys_QWk-TKbv0);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-JrjfL3F9q-zr);
  border: 0px solid var(--token-7PwHNmGbFwIV);
}
.bordercolor_neutral {
  border-color: var(--token-NVrdTlpJBk4G);
}
.bordercolor_muted {
  border-color: var(--token-LHzGuxkuBWnW);
}
.bordercolor_success {
  border-color: var(--token-LgH6AJeJ7kul);
}
.bordercolor_warning {
  border-color: var(--token-kYDXjRHhB8TD);
}
.bordercolor_errorDestructive {
  border-color: var(--token-zzEfY2XNbgOQ);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-JrjfL3F9q-zr);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-C1CocrzGnw9o);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-EdG3dBeMGzRC);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-yshx6JJltCM_);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__keu2U {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-JrjfL3F9q-zr);
  min-width: 0;
  min-height: 0;
  padding: var(--token-JrjfL3F9q-zr) var(--token-Jm6eq0q5aKWG);
}
.freeBoxsize_extraSmall__keu2UbFZsh {
  padding: var(--token-2AWAyCzAJgz2) var(--token-JrjfL3F9q-zr);
}
.freeBoxsize_small__keu2U9HqlL {
  padding: var(--token-JrjfL3F9q-zr) var(--token-VwsfoiemBq-F);
}
.freeBoxsize_large__keu2UhjvRv {
  padding-top: var(--token-2AWAyCzAJgz2);
  padding-bottom: var(--token-2AWAyCzAJgz2);
}
.freeBoxsize_extraLarge__keu2UaVwjn {
  padding-left: var(--token-76Jbmk10Uni-);
  padding-right: var(--token-76Jbmk10Uni-);
}
.freeBoxroundedFull__keu2UWfrGk {
  padding-right: var(--token-76Jbmk10Uni-);
  padding-left: var(--token-76Jbmk10Uni-);
}
.freeBox___91V3Y {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart___91V3YGnMtb {
  display: flex;
}
.slotTargetStart {
  color: var(--token-7u6_fcuVsXfJ);
}
.slotTargetStartcolor_neutral {
  color: var(--token-ZkITuUpz4SRu);
}
.slotTargetStartcolor_muted {
  color: var(--token-QJQ-OULvf8ea);
}
.slotTargetStartcolor_success {
  color: var(--token-wOJ-2n1Sqxz-);
}
.slotTargetStartcolor_warning {
  color: var(--token-AuVMMHeM2KC3);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-nf45OX3Ph4P6);
}
.slotTargetStarttype_soft {
  color: var(--token-dAjG3yZOH96G);
}
.slotTargetStarttype_bordered {
  color: var(--token-dAjG3yZOH96G);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-kmX4n5MP_duR);
}
.slotTargetStartsize_small {
  font-size: var(--token-kmX4n5MP_duR);
}
.slotTargetStartsize_large {
  font-size: var(--token-_0tYLg0QEiYA);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-_0tYLg0QEiYA);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-NX9m1F0y3VQ7);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-NX9m1F0y3VQ7);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-Ej445XEm8M3O);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-Ej445XEm8M3O);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-jpROxuRJCKiW);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-jpROxuRJCKiW);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-LVggRn9mN5N4);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-LVggRn9mN5N4);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-x8OTjlzowzc-);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-x8OTjlzowzc-);
}
.svg___9Elp9 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-7u6_fcuVsXfJ);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-ZkITuUpz4SRu);
}
.slotTargetLabelcolor_muted {
  color: var(--token-QJQ-OULvf8ea);
}
.slotTargetLabelcolor_success {
  color: var(--token-wOJ-2n1Sqxz-);
}
.slotTargetLabelcolor_warning {
  color: var(--token-AuVMMHeM2KC3);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-nf45OX3Ph4P6);
}
.slotTargetLabeltype_soft {
  color: var(--token-dAjG3yZOH96G);
}
.slotTargetLabeltype_bordered {
  color: var(--token-dAjG3yZOH96G);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-NX9m1F0y3VQ7);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-Ej445XEm8M3O);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-NX9m1F0y3VQ7);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-jpROxuRJCKiW);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-Ej445XEm8M3O);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-LVggRn9mN5N4);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-jpROxuRJCKiW);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-x8OTjlzowzc-);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-LVggRn9mN5N4);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-x8OTjlzowzc-);
}
.text__pt9IL {
  white-space: pre;
}
.freeBox__a750 {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__a750WfWhP {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-7u6_fcuVsXfJ);
}
.slotTargetEndcolor_neutral {
  color: var(--token-ZkITuUpz4SRu);
}
.slotTargetEndcolor_muted {
  color: var(--token-QJQ-OULvf8ea);
}
.slotTargetEndcolor_success {
  color: var(--token-wOJ-2n1Sqxz-);
}
.slotTargetEndcolor_warning {
  color: var(--token-AuVMMHeM2KC3);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-nf45OX3Ph4P6);
}
.slotTargetEndtype_soft {
  color: var(--token-dAjG3yZOH96G);
}
.slotTargetEndtype_bordered {
  color: var(--token-dAjG3yZOH96G);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-kmX4n5MP_duR);
}
.slotTargetEndsize_small {
  font-size: var(--token-kmX4n5MP_duR);
}
.slotTargetEndsize_large {
  font-size: var(--token-_0tYLg0QEiYA);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-_0tYLg0QEiYA);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-NX9m1F0y3VQ7);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-NX9m1F0y3VQ7);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-Ej445XEm8M3O);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-Ej445XEm8M3O);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-jpROxuRJCKiW);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-jpROxuRJCKiW);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-LVggRn9mN5N4);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-LVggRn9mN5N4);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-x8OTjlzowzc-);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-x8OTjlzowzc-);
}
.svg___03O6C {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
