.ariaSelect:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-2AWAyCzAJgz2);
  min-width: 0;
}
.ariaSelect[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.ariaButton:global(.__wab_instance) {
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;
  box-shadow: inset 0px 0px 0px 1px var(--token-CXuBwdXYm1JQ);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  outline-style: none;
  background: var(--token-XBl7AWV1ll7W);
  min-width: 0;
  border-radius: var(--token-JrjfL3F9q-zr);
  padding: 0px;
  border-style: none;
}
.ariaSelect[data-focus-visible] .ariaButton:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-XpvizP-yv1mR);
  outline-offset: 1px;
  outline-color: var(--token-tpHxfn3r_bWe);
}
.ariaSelectedValue:global(.__wab_instance) {
  font-size: var(--token-U4nFfusRLOhb);
  line-height: var(--token-UsHB0eJMltu6);
  padding-top: var(--token-JrjfL3F9q-zr);
  padding-bottom: var(--token-JrjfL3F9q-zr);
  padding-left: var(--token-Jm6eq0q5aKWG);
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Zhpdwy3-8WWw);
  min-width: 0;
}
.freeBox {
  display: flex;
  position: relative;
  width: var(--token-mS9ufzXTrnEk);
  height: var(--token-mS9ufzXTrnEk);
  justify-content: center;
  align-items: center;
}
.svg {
  width: var(--token-5uQp3tcfbfks);
  height: var(--token-5uQp3tcfbfks);
  flex-shrink: 0;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.menuPopover:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.menuSection___6MRgR:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__nmRIm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
