.ariaInput:global(.__wab_instance) {
  box-sizing: border-box;
  box-shadow: inset 0px 0px 0px 1px var(--token-CXuBwdXYm1JQ);
  color: var(--token-_GtgnUciMM8k);
  font-family: var(--token-zsmpMYNZNnC7);
  font-size: var(--token-U4nFfusRLOhb);
  line-height: var(--token-UsHB0eJMltu6);
  width: 100%;
  position: relative;
  outline-style: none;
  min-width: 0;
  border-radius: var(--token-JrjfL3F9q-zr);
  padding: var(--token-JrjfL3F9q-zr) var(--token-Jm6eq0q5aKWG);
  border-style: none;
}
.ariaInput[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.ariaInput[data-focused]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-XpvizP-yv1mR);
  outline-offset: 1px;
  outline-color: var(--token-tpHxfn3r_bWe);
}
.ariaInputtype_soft:global(.__wab_instance) {
  background: var(--token-suOCBrdv91B0);
  box-shadow: none;
}
.ariaInputtype_soft[data-hovered]:global(.__wab_instance) {
  background: var(--token-Vt62-grID8J4);
}
.ariaInputtype_plain:global(.__wab_instance) {
  box-shadow: none;
}
.ariaInputtype_plain[data-hovered]:global(.__wab_instance) {
  background: var(--token-suOCBrdv91B0);
}
.ariaInputflat_top:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.ariaInputflat_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaInputflat_bottom:global(.__wab_instance) {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaInputflat_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.ariaInputpadded_left:global(.__wab_instance) {
  padding-left: var(--token-mS9ufzXTrnEk);
}
.ariaInputpadded_right:global(.__wab_instance) {
  padding-right: var(--token-mS9ufzXTrnEk);
}
