.root:global(.__wab_instance) {
  object-fit: cover;
  position: relative;
  color: var(--token-_GtgnUciMM8k);
  font-family: var(--token-zsmpMYNZNnC7);
  font-size: var(--token-U4nFfusRLOhb);
  line-height: var(--token-UsHB0eJMltu6);
}
.freeBox {
  display: flex;
  flex-direction: row;
  padding: var(--token-VwsfoiemBq-F) var(--token-Jm6eq0q5aKWG);
}
.slotTargetHeader {
  font-weight: 600;
}
