.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  width: 100%;
  border-bottom: 1px solid var(--token-9Mj6VSKh8SyZ);
}
.rootglobal_theme_dark {
  border-bottom-color: var(--token-4H6R2J-uicPH);
}
.freeBox__hfLz6 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 45px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}
.freeBox__wdX4Q {
  display: block;
  position: relative;
  width: 30px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  height: 30px;
  align-self: auto;
  border-radius: 100px;
  border: 1px solid var(--token-plUTwBP7tmlm);
}
.freeBoxstate_checked_global_theme_dark__wdX4Q7KpSfDjUbl {
  border-color: var(--token-9U1C9Y3sx8qf);
}
.img {
  display: flex;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 11.5px;
  top: 12px;
}
.imgstate_checked {
  left: 3px;
  top: 4px;
  width: 23px;
  height: 23px;
}
.freeBox__cOech {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  width: auto;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 15px;
}
.freeBoxstate_editing__cOechbIzg0 {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.freeBox__uMJi {
  position: relative;
  width: auto;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-RxNlid2WjaZp);
  font-size: 24px;
  min-width: 0;
}
.textbox {
  display: flex;
}
.textboxstate_editing {
  font-size: 24px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  width: auto;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
  box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
  background: rgba(255, 255, 255, 0);
  border-color: var(--token-fXMtxvyCR5Cd);
}
.textboxglobal_theme_dark_state_editing {
  box-shadow: inset 0px 0px 4px 2px rgba(235, 245, 16, 0.46);
  color: var(--token-BqerCC2mLlta);
}
.rootstate_editing .textboxstate_editing::placeholder {
  color: var(--token-v9PYavJHf-xf);
}
.rootglobal_theme_dark_state_editing
  .textboxglobal_theme_dark_state_editing::placeholder {
  color: var(--token-NDrFYOP4k3n5);
  font-style: italic;
}
.freeBox___0E7Cp {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
}
.button {
  position: relative;
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1;
  opacity: 0;
}
.root:hover .button {
  opacity: 0.5;
  cursor: pointer;
  border-width: 0px;
}
