.ariaTextField:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  row-gap: var(--token-2AWAyCzAJgz2);
  min-width: 0;
}
.ariaTextField[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.label:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.freeBox__vIDg0 {
  display: flex;
  flex-direction: column;
}
.freeBox__ttczy {
  flex-direction: row;
  position: absolute;
  height: var(--token-mS9ufzXTrnEk);
  align-items: center;
  justify-content: center;
  z-index: 9;
  left: 0px;
  top: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-JrjfL3F9q-zr) var(--token-Jm6eq0q5aKWG);
}
.freeBoxiconStart__ttczyHu4Ph {
  display: flex;
}
.slotTargetStart {
  color: var(--token-Zhpdwy3-8WWw);
}
.svg___4DDvf {
  position: relative;
  height: 1em;
}
.textAreaInputmultiLine:global(.__wab_instance):global(.__wab_instance) {
  display: block;
}
.freeBox__qu0Qo {
  height: var(--token-mS9ufzXTrnEk);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-JrjfL3F9q-zr) var(--token-Jm6eq0q5aKWG);
}
.freeBoxiconEnd__qu0QoAUqTo {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-Zhpdwy3-8WWw);
}
.svg__hMyQu {
  position: relative;
  height: 1em;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
