.ariaTooltip:global(.__wab_instance) {
  box-sizing: border-box;
  position: relative;
  color: #ffffff;
}
.slotTargetTrigger {
  color: var(--token-_GtgnUciMM8k);
  font-family: var(--token-zsmpMYNZNnC7);
  font-size: var(--token-U4nFfusRLOhb);
  line-height: var(--token-UsHB0eJMltu6);
}
.text___0SGNh {
  position: relative;
}
.overlayArrow:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox {
  display: flex;
  position: relative;
  background: var(--token-D_53xRZRg5-V);
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
  row-gap: var(--token-2AWAyCzAJgz2);
  border-radius: var(--token-VwsfoiemBq-F);
  padding: var(--token-76Jbmk10Uni-);
}
.slotTargetContent {
  color: var(--token-ZkITuUpz4SRu);
  font-family: var(--token-zsmpMYNZNnC7);
  font-size: var(--token-U4nFfusRLOhb);
  line-height: var(--token-UsHB0eJMltu6);
}
