.ariaRadioGroup:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-2AWAyCzAJgz2);
  min-width: 0;
}
.ariaRadioGroup[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__anupz {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--token-2AWAyCzAJgz2);
}
.radio__nTu0R:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__zB6C4:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio___65Gdn:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
